/*Regargar pagina*/
.fade-in {
  animation-name: fade-in;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.contenedor {
  border: solid 1px black;
}



body {
  overflow-x: hidden;
  /* previene scroll horizontal mientras se carga la página */
  animation: fade-in 1s ease-in-out;
  background-color: rgb(245, 246, 252);
}



/*-----------------Navbar------------------- */
/*Para acomodar el texto dentro del navbar*/
.contenedor_Nav {
  margin-left: 7%;
}

.Nav_border {
  border-bottom: 1px solid rgb(206, 206, 206);
}

/*Se resalta el color cunado pones el cursor sobre este texto se usa en menu*/
.my-heading {
  color: black;
  transition: color 0.2s;
}

/*Es parte del anterior*/
.my-heading:hover {
  color: rgb(204, 0, 255);
}

.redimension_git {
  margin-left: 12px;
  max-width: 7%;
  max-height: 7%;
}

/*Quitar que el btn creado por boobstrap no tengo el fondo de btn*/
.btn:focus,
.btn:active {
  box-shadow: none !important;
}

/*caracteristicas del boton del menu*/
.btn {
  width: 42px;
  height: 42px;
  border-color: rgb(245, 246, 252);
  padding: 1px;

}

/* icon de menu*/
.redimension-Menu {
  max-width: 200%;
  max-height: 200%;
}

/*Cambiamos el color de navbar creado por boostrap a la pagina*/

.bg-smoke-dark {
  font-family: 'Chivo Mono', monospace;
  background-color: rgb(245, 246, 252);
  background-color: rgb(245, 246, 252);
  color: black;
}

/*-----------------Navbar Fin ------------------- */



/*primer div*/
.contenedor_Img_text {
  background-image: url(https://firebasestorage.googleapis.com/v0/b/imagenes-de-programacion-web-1.appspot.com/o/Curriculumn%2FWall.png?alt=media&token=aca690a8-54d9-4885-826e-e00e4a3b6c31);
  margin: 5%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10%;
  text-align: center;
}

/*imagen (gif superior)*/
.redimension_img {
  max-width: 71%;
  max-height: 71%;
}

/*div print (gif superior)*/
.contenedor_titulo {
  padding: 10%;
}

/*imagen (gif superior)*/
.Titulo_print {
  background-color: rgb(245, 246, 252);
  border-radius: 70%;
  font-family: 'Chivo Mono', monospace;
  font-size: 2rem;
}

/* div #2 introducion de la imforamacion personal*/

.contenedor_Info {
  font-family: 'Chivo Mono', monospace;
  margin-top: 5%;
}

.contenedor_Info h1 {
  margin-left: 5px;
}

.info-block {
  border: 1px solid black;
  background-color: #f2f2f2;
  text-align: center;
}

.Block_information {
  margin: 2%;

}



/*-----------------------------------------------------------*/
/*Boton que se meuve laterarl ente (Terminal)*/
.Terminal {
  background-color: #3d3d3d;
  border-radius: 12px;
  color: white;
  text-align: center;
}

.Contenedor_Terminal {
  text-align: center;
}

/* Modal */
.modal {
  padding-top: 100px;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Contenido del modal */
.modal-contenido {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  margin: 5%;
  height: 80%;
}

/* Botón de cerrar */
.cerrar {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}



/*-----------------------------------------------------------*/

.btn_game {
  display: inline-block;
  padding: 12px 24px;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;

}












/*-----------------FOOTER------------------- */


footer {
  background-color: #282828;
  color: #fff;
  padding: 40px 0;
}

.container_Footer {
  max-width: 1200px;
  margin: 0 auto;
}

.container_Footer h4 {
  font-size: 18px;
  margin-bottom: 20px;
}

.container_Footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container_Footer ul li {
  margin-bottom: 10px;
}

.container_Footer ul li a {
  color: #fff;
}

.social {
  display: flex;
  align-items: center;
}

.social li {
  margin-right: 20px;
}

.social li:last-child {
  margin-right: 0;
}

.fa {
  font-size: 20px;
}


/**/