body {
  background-color: rgb(245, 246, 252);
}

.contenedor {
  text-align: center;
}

.texto {
  margin-left: 30vh;
  margin-right: 30vh;
}

img.redimension {
  max-width: 71%;
  max-height: 71%;
}

.redimension-git {
  max-width: 7%;
  max-height: 7%;
}

.contenedor_Info {
  background-color: rgb(180, 180, 180);
  padding-left: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 2vh;
  margin: 20px;
  margin-top:20vh;
  border-radius: 8px;

}


.nav1 {
  margin: 10%;
}